<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/add.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/add.js"></script>
    <title><%= title %></title>
</head>
<body>
    <%- include sidebar.ejs%>
    <form id="AnimalForm" onsubmit="onSubmit()" enctype="multipart/form-data" method="POST">
    <h1><%= title %></h1>
        <label for='animal_type'>type:</label>
        <input type="text" name="animal_type" id="animal_type">
        <p><label for='address'>address:</label>
            <input type="text" name="address" id="address">
        </p>
        <label for="photo">Choose an image</label>
        <div >
            <input type="file" id="myImage" name="myImg" accept="image/*" required>
        </div>
        <p><input type="submit" name="sub-btn" value="Submit" id="sub-btn"></p>
    </form>
<div id="results" style="margin-top:30px"></div>
</body>
</html>