<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/adoption.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/adoption.js"></script>
    <title><%= title %></title>
</head>
<body>
<%- include sidebar.ejs%>
<h1><%= title %></h1>
<form id="ApplicationForm" onsubmit="onSubmit('/adoption')">
    <label for='firstname'>First name:</label>
    <input type="text" name="firstname" id="firstname">
    <p><label for='lastname'>Last name:</label>
        <input type="text" name="lastname" id="lastname">
    </p>
    <p><label for='mobile'>Mobile NO:</label>
            <input type="number" name="mobile" id="mobile">
    </p>
    <label for='animal_id'>ID of the animal:</label>
    <input type="text" name="animal_id" id="animal_id">
    <p><input type="submit" name="sub-btn" value="Submit" id="sub-btn"></p>
</form>
<div id="results" style="margin-top:30px"></div>
</body>
</html>