<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/display.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/edit.js"></script>
  </head>
  <body>
    <%- include sidebar.ejs%>
    <br>
<img src="/uploads/<%= data[0].photo%>"></li></br></br>
    <table>
        <tr>
            <th>Type</th>
            <th><%= data[0].animal_type %></th>
        </tr>
        <tr>
            <td>ID</td>
            <td><%= data[0]._id %></td>
        </tr>
        <tr>
             <td>Address</td>
             <td><%= data[0].address %></td>
        </tr>
    </table>
    <form id="Form" onsubmit="onSubmit('/display')" >
        <input type="hidden" name="id" id="id" value="<%= data[0]._id %>">
        <p><label for='comments'>Comment:</label>
            <input type="text" name="comments" id="comments">
        </p>
        <p><input type="submit" name="sub-btn" value="Submit" id="sub-btn"></p>
    </form>
    <% for(var i=0; i<data[0].comments.length; i++) {%>
    <span><%= data[0].comments[i] %></span></br>
    <br>
    <% } %>
    <div id="results" style="margin-top:30px"></div>
    </ul>
  </body>
</html>