<!DOCTYPE html>
<html>
  <head>
    <title>Animals</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>
  <body>
    <%- include sidebar.ejs%>
     <div class="div1">
        <p class="p1">Join us</p>
        <p class="p1">Adopt your own animal</p>
        <p class="p2">The process of adoption is very easy!</p>
        <p class="p2">Share your home with it!</p>
     </div>
    <h1><%= title %></h1>
    <div class="div2">
        <% for(var i=0; i<data.length; i++) {%>
            <% if(data[i].adopted==false){%>
                <p class="animal">
                    <span><img width="300" src="/uploads/<%= data[i].photo%>"></span></br>
                    <span><%= data[i].animal_type %></span></br>
                    <span><%= data[i]._id %></span> </br>
                    <span><%= data[i].address %></span></br>
                    <a href="/display?id=<%=data[i]._id%>">More Info</a></br>

                </p>
            <%}else{%>
                    <p class="animal">
                        <span><img width="300" src="/uploads/<%= data[i].photo%>"></span></br>
                        <span><%= data[i].animal_type %></span></br>
                        <span><%= data[i].address %></span></br>
                        <span>Adopted</span></br>
                    </p>
                <%}%>
            <% } %>
    </div>
  </body>
</html>
