<!DOCTYPE html>
<html>
<head>
    <title>Animals</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/search.js"></script>

</head>
<body>
<%- include sidebar.ejs%>
<h1><%= title %></h1>
<form id="SearchForm" onsubmit="onSubmit('/search')">
    <select name="sel">
        <option value="type">type</option>
        <option value="address">address</option>
        <option value="id">ID</option>
    </select>
    <input type="text" name="input" id="input">
    <p><input type="submit" name="sub-btn" value="Search" id="sub-btn"></p>
</form>
<ul>
    <div id="results" style="margin-top:30px">
    </div>
</ul>
</body>
</html>