<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
  </head>
  <body>
    <ul>
      <li><a href="index" >Animals</a></li>
      <li><a href="add" >Add Animals</a></li>
      <li><a href="adoption" >Adoption</a></li>
      <li><a href="search" >Search</a></li>
    </ul>
  </body>
</html>

