<!DOCTYPE html>
<html>
<head>
  <title>thanks</title>
  <link rel='stylesheet' href='/stylesheets/thanks.css' />
</head>
  <body>
    <%- include sidebar.ejs%>
    <h1><%= title %></h1>
    <h1>Thank you for your contribution to animal adoption!</h1>
  </body>
</html>