form{
    height: 427px;
    background-image: url("../images/dog2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
h1 {
    text-align: center;
    color: white;
}
#AnimalForm{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: lightcyan;
}