body {
    background-image: url("../images/cat.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: beige;
}
#ApplicationForm{
    color: beige;
}