img{
    margin-left: 20%;
    width: 60%;
}
table {
    margin-left: 15%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
ul{
    list-style-position: outside;
}