.p1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
.p2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.div1{
    background-image: url("../images/cat4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
}
.div2{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}
.animal{
    width: 400px;
    padding: 15px;
}

