body {
    background-image: url("../images/dog1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: beige;
}
h1 {
    text-align: center;
}